<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Contact list</h1>
<ol>
    {% for person in contact %}
    <li>
        <a href="{% url 'update' person.id %}">
        {{ person }}
        </a>

        {# <a href="{% url 'detail' contact.pk %}"> #}
            {{ person.last_name }}
        </a>
    </li>
    {% endfor %}
</ol>

<!--<ol>-->
<!--    {% for person in contact %}-->
<!--    <li>{{ person.first_name }}</li>-->
<!--</ol>-->
<!--    {% endfor %}-->
</body>
</html>