.idea
.venv
venv
finag-env
*.pyc
db.sqlite3
_pycache_
.vscode
.env
archived/
scripts/ussd-lga-split-script.py
htmlcov
.coverage
finagapp
../finagapp-env
scratch1.py
rough_file.py
scratch_file.py

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
livestockproduct.txt
inputproduct.txt
mechanization_product.txt
/.python-version
celerybeat-schedule.db
dump.rdb
activity.py
locustfile.py